.heading {

    font-size: 23px;
    width: 100%;
    margin: 0%;
    box-shadow: 5px 5px 5px chocolate ;
}

.heading_div {
float: none;
background: rgb(192, 97, 97);
padding : 10px  ;
border-radius:20px ;
color: black;
box-shadow: 5px 5px 5px chocolate ;
}

.heading_div2 {
    font-size: 18px;
}